body {
  font-family: 'Lato', sans-serif;
  padding-bottom: 0;
  padding-top: 0;
}
a, a:visited {
  color: #0071BC;
}
a:hover {
  color: #205493;
}
h1, h2, h3, h4 {
  color: #0071BC;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: -.03em;
}
h2 {
  font-size: 250%;
}
h3 {
  font-size: 200%;
}
h4 {
  font-size: 175%;
}
img {
  height: auto;
  max-width: 100%;
}
p, li {
  font-size: 150%;
}
hr {
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: 1px solid #e1f3f8;
}
input {
  margin-bottom: 10px;
}
.jumbotron {
  background: #0071BC url(../img/hero.png) center center no-repeat;
  color: #fff;
  padding-bottom: 60px;
  margin-bottom: 0;
}
.jumbotron h1 {
  color: #fff;
  font-size: 350%;
  font-weight: 400;
  padding-bottom: 30px; 
}
.jumbotron p {
  font-weight: 300;
}
.jumbotron img {
  margin-bottom: 30px;
  margin-top: 10px;
  max-height: auto;
  max-width: 400px;
  width: 100%
}
.icons {
  background: #112E51;
  padding-bottom: 50px;
  padding-top: 60px;
}
.civic {
  color: #112E51;
  font-weight: 700;
}
.fa-1 {
  font-size: 200px !important;
}
.fa-3 {
  font-size: 30px !important;
}
.sponsors {
  padding-bottom: 60px;
  padding-top: 40px;
}
.sponsors img {
  margin-bottom: 30px;
  margin-top: 40px;
  height: auto;
  width: 100%;
}
img.civicactions {
  max-width: 250px;
}
img.drupalsquad {
  max-width: 335px;
}
img.nucivic {
  max-width: 210px;
}
.connect {
  background: #112E51;
  padding-bottom: 80px;
  padding-top: 80px;
}
.connect p {
  padding-bottom: 20px;
}
.happyhour {
  background: #205493;
  padding-bottom: 80px;
  padding-top: 80px;
}
.happyhour a, .happyhour a:visited {
  color: #112E51;
}
.happyhour ul {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  list-style: none;
}
.schedule {
  margin-bottom: 20px;
  padding: 20px; 
}
.event {
  background: #205493;
  border: 5px solid #0071BC;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
}
.twitter {
  padding-bottom: 40px;
  padding-top: 40px;
}
a.btn-jumbotron, .btn-default {
  background: #0071BC;
  border-color: #0071BC;
}
a.btn-jumbotron:hover, .btn-default:hover, .btn-default:active {
  background: #205493;
  border-color: #205493;
}
a.btn-dark, a.btn-dark:visited, .btn-default:active {
  background: #112E51;
  border-color: #112E51;
}
a.btn-dark:hover {
  background: #0071BC;
  border-color: #0071BC;
}
.footer {
  background: #0071BC;
  padding-bottom: 50px;
}
.footer img {
  max-width: 200px;
}
.footer p {
  margin: 0;
  padding: 40px 0;
}
.navbar-default {
  background: #112E51;
  border-color: #112E51;
  padding-bottom: 10px;
  padding-top: 10px;
}
.navbar-default a, .navbar-default a:visited {
  margin-left: 20px;
  margin-right: 20px;
}
.connect h2, .happyhour h2, .connect, .happyhour, .event, .event a, .event a:visited, .event h4, a.btn-jumbotron, .btn-default, a.btn-jumbotron:hover, .btn-default:hover, .btn-default:active, .navbar-default a, .navbar-default a:visited, a.btn-dark, a.btn-dark:visited, .btn-default:active, a.btn-dark:hover {
  color: #fff;
}